<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>


<div class="container">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h2>Create New Blog Post</h2>
        </div>
        <div class="card-body">
          <form class="new-post-form">
            <div class="post-title-section">
                <label for="post-title">Title</label>
                <br>
                <input class="w-100" type="text" id="post-title" name="post-title" />
            </div>
            <div class="post-content">
                <label for="post-content">Content</label>
                <br>
                <textarea class="w-100 p-4 entry-field" id="post-content" name="post-content"></textarea>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="submit" class=" w-25 btn btn-primary">Create</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/javascript/add-post.js"></script>


