<div class="dashboard-container">
  <div class="container m-4">
    <h1>Dashboard</h1>
    <hr class="my-4">
    <div class="row d-flex justify-content-center">
      <button type="submit" class="btn btn-primary w-25" id="create-new-post">Create new post</button>
      <br>
      {{#if posts.length}}
    <ul class="post-list">
        {{#each posts as |post|}}
        <li class="edit-link">
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}">edit post</a>
        </li>
        {{/each}}
    </ul>
        <br>
    </div>
  </div>
</div>
{{/if}}

<script src="/javascript/create-post.js"></script>
