
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-12">
            <div class="new-post-section">
                <button type="submit" class="btn btn-primary" id="create-new-post">Create new post</button>

                {{#if posts.length}}
                <div>
                    <h2>Your Dashboard</h2>
                    <ul class="post-list">
                        {{#each posts as |post|}}
                        <li>
                        {{> post-info post}}
                        <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
                        </li>
                        {{/each}}
                    </ul>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>





<script src="/javascript/create-post.js"></script>

