<div class="dashboard-container">
  <div class="container m-4">
    <h1>Dashboard</h1>
    <hr class="my-4">
    <div class="row d-flex justify-content-center">
      <button type="submit" class="btn btn-primary w-25" id="create-new-post">Create new post</button>
    </div>
  </div>
</div>

{{#if posts.length}}
<br>

<div class="container">
  <div class="row w-100 d-flex justify-content-center">
          <div class="new-post-section">
            <div>
                    {{#each posts as |post|}}
                        {{> post-info post}}
                    <br>
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
                    {{/each}}
            </div>
    </div>
  </div>
</div>
{{/if}}


<script src="/javascript/create-post.js"></script>

