
<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Edit Post</h2>
                </div>
                <div class="card-body">
                    <form class="edit-post-form">
                    <div class="post-title-section">
                        <label for="post-title">Title</label>
                        <input class="w-100"type="text" name="post-title" id="post-title" value="{{post.title}}" />
                    </div>
                    <div class="post-content">
                        <label for="post-content">Content</label>
                        <textarea class="w-100 entry-field" id="post-content" name="post-content">{{post.content}}</textarea>
                    </div>
                    <div class="card-footer">
                        <button type="submit">Update post</button>
                        <button type="button" class="delete-post-btn">Delete post</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}