<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-center">
          <h3>Sign in</h3>
        </div>
        <div class="card-body">
          <div class="form-section">
            <form class="login-form">
                <label for="username-login">Username</label>
                    <input type="text" class="w-100 entry-field" id="username-login" />
                <label for="password-login">Password</label>
                    <input type="password" class="w-100 entry-field" id="password-login" />
                <div class="card-footer d-flex justify-content-center">
                  <button type="submit" class="w-25 btn btn-primary" data-toggle="modal" data-target="#signupModal">
                    Log in
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 d-flex justify-content-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
        Sign Up Instead
      </button>
    </div> 
  </div>
</div>


<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Create an Account</h3>
      <button type="button" class="btn-close" data-dismiss="modal">
      </button>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12"> 
            <form class="signup-form">
                <p>Username</p>
                <input type="name" class="w-100 rounded-3" id="username-signup">
                <label for="username-signup"></label>
                <p>Password</p>
                <input type="password" class="w-100 rounded-3" id="password-signup">
                <label for="password-signup"></label>
              <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>