<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>
<br>
<br>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-3 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
            Leave a comment
          </button>
    </div>
  </div>
</div>


{{> post-info post}}

{{#if loggedIn}}

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Add Comment</h3>
      <button type="button" class="btn-close" data-dismiss="modal">
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12"> 
            <form class="comment-form">
                <div>
                <textarea class="w-100" name="comment-body"></textarea>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">add comment</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{/if}}


{{> comments post.comments}}</div>


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}