* {
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #41B3A3;
    font-size: 28px;
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    margin: 30px;
}

.main-body {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 10vh;
    width: 80vw;
}

.card-header {
    text-align: center;
}

.card-body {
    text-align: center;
}


.nav-item button {
    text-decoration: none;
    background-color: none;
    border: none;
    background: transparent;
}